.contact-header {
  background-color: #f7f7f7;
  font-size: 1.1em;
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
}

.second-header {
  background-color: #f1f1f1;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (min-width: 992px) {
  .contact-header {
    font-size: 1.8em;
  }

  .second-header {
    font-size: 0.9em;
  }
}
