.content-div {
  padding: 1em;
}

.details-img {
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
}

.details-name {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 5%;
}

.details-company {
  text-align: center;
}

.details-header {
  text-transform: uppercase;
  color: #878585;
  font-weight: 300;
  font-size: 0.8rem;
}

.details-spec {
}

.home-phone-div {
  display: flex;
  align-content: space-between;
}
