.content-div {
  padding: 1em;
}

.details-img {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}

.details-name {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 5%;
}

.contact-header {
  display: flex;
  justify-content: space-between;
}

.details-company {
  text-align: center;
  color: #949494;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 0;
}

.details-header {
  text-transform: uppercase;
  color: #878585;
  font-weight: 300;
  font-size: 0.8rem;
}

.details-spec {
  color: #a8a8a8;
}

.first-header {
  color: #428eca;
  padding-top: 0.4em;
}

.split-div {
  display: flex;
  justify-content: space-between;
}

.favorite-star {
  color: #f5b316;
}

.other-star {
  color: #4b4a4a;
}

.contact-header {
  border-bottom: 1px solid #e2e2e2;
}

.detail-info {
  font-weight: 600;
}

hr {
  margin-top: 5px;
}

.detail-header {
  border-bottom: 1px solid #e2e2e2;
}
