.item-div {
  display: flex;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
}

.item-image {
  width: 25%;
  margin-right: 1em;
}

.text-div {
  flex-direction: column;
}

.item-header {
  font-weight: 400;
  font-size: 1rem;
}

.item-text {
  letter-spacing: 0;
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: 1.7em;
}

.emoji-span {
  margin-right: 0.3em;
}

.other-span {
  margin-left: 1.4em;
}

@media only screen and (min-width: 992px) {
  .item-image {
    width: 15%;
    margin-left: 3vw;
  }

  .item-header {
    font-size: 2rem;
  }

  .item-text {
    font-size: 1.2rem;
    margin-left: 2.3em;
  }

  .emoji-span {
    margin-right: 0.3em;
    font-size: 2rem;
  }

  .other-span {
    margin-left: 1.4em;
  }
}
